.new-tweet {
  background-color: #eee;
  margin: 1em;
  border-style: solid;
  border-color: #cecece;
  border-width: 1px;
  border-radius: 1em;
}
.new-tweet h2{
	font-size: 40px;
  margin: 10px;
  border-bottom: 1px solid #a8a8a8;
}
form {
	padding: 0.6em;
}
.counter {
	font-size: 23px;
	margin: 0.6em 0;
	border-radius: 0.7em;
  float: right;
}

input {
	width: 40px;
	height: 40px;
	transition: transform .8s ease-in-out;
}
input:hover {
  transform: rotate(360deg);
}
textarea {
	width: 100%;
	padding: 0.5em;
}
.overflow {
	color: red;
}

.error {
	color: red;
	font-size: 20px;
	padding-left: 1em;
}

